<!--The content below is only a placeholder and can be replaced.-->
<div id="user-page">
  <div class="user-page-container">
    <form id="usernameForm" name="usernameForm">
      <div *ngIf="!connected" class="form-group">
        <input type="text" id="name" placeholder="User" [(ngModel)]="userName"
               name="username" autocomplete="off" class="form-control">
      </div>
      <div *ngIf="connected" class="form-group">
        <h1>{{userName}}</h1>
      </div>
      <div class="form-group">
        <button *ngIf="!connected" (click)="joinChat()">Join Chat</button>
        <button *ngIf="connected" (click)="leaveChat()">Leave Chat</button>
      </div>
    </form>
  </div>
</div>

<div id="'chat-page" *ngIf="connected">
  <div class="chat-container">
    <div class="chat-header">
      <h2>Chat Interface</h2>
    </div>
    <div *ngIf="connecting">
      Connecting...
    </div>
    <ul id="messageArea">

    </ul>
    <form id="messageForm" name="messageForm">
      <div class="form-group">
        <div class="input-group">
          <input type="text" name="message" id="message" placeholder="Type a message..." [(ngModel)]="typedMessage" autocomplete="off" class="form-control"/>
          <button type="submit" class="primary" (click)="sendMessage()">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>



